{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>DIGIDAW</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <!-- NAVBAR -->


    <div class="navbar">
        <a href="/" class="logo">DIGIDAW</a>

            <button id="editBtn" class="button">Edit</button>

            <button id="loginBtn" class="button">Login with Google</button>

    </div>

    <div class="edit-container">
    <div class="edit-box">
        <h2>Edit Theme</h2>

        <form method="POST">
            {% csrf_token %}

            <!-- FONT -->
            <label>Font:</label>
            <select name="font">
                <option value="Poppins">Poppins</option>
                <option value="Arial">Arial</option>
                <option value="Courier New">Courier New</option>

                <!-- tambahan -->
                <option value="Verdana">Verdana</option>
                <option value="Georgia">Georgia</option>
                <option value="Times New Roman">Times New Roman</option>
                <option value="Trebuchet MS">Trebuchet MS</option>
                <option value="Impact">Impact</option>
                <option value="Comic Sans MS">Comic Sans MS</option>
                <option value="Lucida Console">Lucida Console</option>
            </select>

            <!-- COLOR DROPDOWN -->
            <label>Text Color:</label>
            <select name="color">
                <option value="#ffffff">White</option>
                <option value="#000000">Black</option>
                <option value="#ff4d4d">Red</option>
                <option value="#00ffcc">Cyan</option>
                <option value="#00c6ff">Blue</option>
                <option value="#ffcc00">Yellow</option>
                <option value="#ff66cc">Pink</option>
                <option value="#66ff66">Green</option>
                <option value="#ffa500">Orange</option>
                <option value="#cccccc">Gray</option>
            </select>

                <button class="button" type="submit">Save</button>
            </form>
        </div>
    </div>


    <!-- FOOTER -->
    <div class="footer">
        © 2026 DIGIDAW Team
    </div>

    <!-- JS -->
    {% load static %}
    <script src="{% static 'script.js' %}"></script>

</body>
</html>