{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>DIGIDAW</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <!-- NAVBAR -->
    <div class="navbar">
        <div class="logo">DIGIDAW</div>
        <button id="loginBtn">Login with Google</button>
    </div>

    <!-- HERO -->
    <div class="hero">
        <h1>Our Team</h1>
        <p>Building secure and modern web applications</p>
    </div>

    <!-- BIODATA -->
     <div class="container" id="biodataContainer">
        {% for anggota in anggota_list %}
        <div class="card">
            <img src="{{ anggota.foto.url }}" alt="Foto {{ anggota.nama }}">
            <h3>{{ anggota.nama }}</h3>
            <p class="npm">NPM: {{ anggota.npm }}</p>
            <p class="role">{{ anggota.role }}</p>
            <span class="tag">DIGIDAW TEAM</span>
        </div>
        {% endfor %}
    </div>

    <!-- FOOTER -->
    <div class="footer">
        © 2026 DIGIDAW Team
    </div>

    <!-- JS -->
    <script src="{% static 'script.js' %}"></script>

</body>
</html>