{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>DIGIDAW</title>

    <!-- CSS file -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- Dynamic theme -->
    <style>
    body {
        font-family: {{ theme.font|default:"Poppins" }} !important;
        color: {{ theme.color|default:"#ffffff" }} !important;
    }
    </style>

</head>
<body>

    <!-- NAVBAR -->


    <div class="navbar">
        <a href="/" class="logo">DIGIDAW</a>

            <button id="editBtn" class="button">Edit</button>

            <button id="loginBtn" class="button">Login with Google</button>

    </div>

    <!-- HERO -->
    <div class="hero">
        <h1>Our Team</h1> <br>
        <h2>Building secure and modern web applications</h2>
    </div>

    <!-- BIODATA -->
     <div class="container" id="biodataContainer">
        {% for anggota in anggota_list %}
        <div class="card">
            <div class="card-inner">
                
                <div class="card-front">
                    <img src="{{ anggota.foto.url }}" alt="Foto {{ anggota.nama }}">
                    <h3>{{ anggota.nama }}</h3>
                    <p class="npm">NPM: {{ anggota.npm }}</p>
                    <p class="role">{{ anggota.role }}</p>
                    <span class="tag">DIGIDAW TEAM</span>
                </div>

                <div class="card-back">
                    <h3>Halo👋</h3>
                    <p>Saya adalah <strong>{{ anggota.role }}</strong> yang bangga menjadi bagian dari kelompok <strong>Digidaw</strong>.</p>
                    <br>
                    <span class="tag">{{ anggota.nama.split.0|upper }}</span>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <!-- FOOTER -->
    <div class="footer">
        © 2026 DIGIDAW Team
    </div>

    <!-- JS -->
     {% load static %}
    <script src="{% static 'script.js' %}"></script>

</body>
</html>